@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedSessionStorage ProtectedSessionStore

@rendermode InteractiveServer

<div class="top-row px-4">

    @if (AuthStatus == null) {
        <NavLink class="nav-link" href="login">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
        </NavLink>
    } else {
        <NavLink class="nav-link" href="logout">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
        </NavLink>
    }
    
    <a href="https://github.com/AndrewFeran/Blockchain-Messaging-App" target="_blank">GitHub</a>
</div>

@code {
    private string? AuthStatus = null;
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) return;
        AuthStatus = (await ProtectedSessionStore.GetAsync<string>("token")).Value;
        StateHasChanged();
    }
}