@page "/newchat"

@rendermode InteractiveServer

<h3>New Chat</h3>

<form id="newChatForm" @onsubmit="HandleSubmitPlain">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" @bind="Username" />
  </div>

  <button type="submit">Create</button>
</form>

@if (!string.IsNullOrEmpty(FeedbackMessage))
{
  <p>@FeedbackMessage</p>
}

@code {
    private string Username = string.Empty;
    private string FeedbackMessage = "";
    private async void HandleSubmitPlain() {
        string url = "http://127.0.0.1:8000/newchat?username=" + Username;

        using HttpClient client = new HttpClient();

        // make the get req
        HttpResponseMessage response = await client.GetAsync(url);
        
        try {
            response.EnsureSuccessStatusCode();
            FeedbackMessage = $"Success!";
        }
        catch {
            switch ((int)response.StatusCode) {
                case 409:
                    FeedbackMessage = $"User not found";
                    break;
                default:
                    FeedbackMessage = $"Unknown error";
                    break;
            }
        }
        finally {
            StateHasChanged();
        }
    }
}